input.datepicker, input.datepicker:focus{background: transparent;}
input.datepicker{padding-right: 0px;z-index: 2;position: relative;}
.calendar_icon{position: absolute;top: 4px;right: 16px;font-size: 14px;z-index: 1;}
.inner_checkbox .custom-checkbox{display:inline-block;margin-right: 10px;}
.inner_checkbox .custom-checkbox{margin-right: 0px;}
.show-uploded-img{width: 70px;height: 70px;position: relative;margin-top: 10px;border: 1px solid #ddd;border-radius: 50%;overflow:hidden;}
.show-uploded-img img{width: auto;height: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;max-width: 100%;max-height: 100%;padding: 3px;}
.card-header>.card-tools.card_tools .input-group{margin:0px;}
.custom-error strong{font-weight: 600;font-size: 13px;color: #ff0000;}
.custom_nav_tabs{background: #fdfdfd;border: 1px solid #dee2e6;border-radius: 4px;padding: 0px;}
.custom_tab_content{margin-bottom:30px;}
.custom_nav_tabs.nav-tabs.flex-column .nav-link{color: #000;border-radius: 0px;border: 0px;border-bottom: 1px solid #dee2e6;border-bottom-left-radius:0px;border-top-right-radius:0px;}
.custom_nav_tabs.nav-tabs.flex-column .nav-link:hover, .custom_nav_tabs.nav-tabs.flex-column .nav-link.active{background:#9e9e9e;color: #fff;}
.package_full_form{margin-top:30px;}
.upload-area{width: 70%;border: 2px dotted #d3d3d3;border-radius: 3px;margin: 20px auto;text-align: center;overflow: auto;padding: 20px;}
.upload-area:hover{cursor: pointer;}
.upload-area h1{text-align: center;font-weight: normal;font-family: sans-serif;font-size:24px;line-height:30px;color: #000;}
#media_modal #file{display: none;}

/* Thumbnail */
.gallery_list_data .thumbnail{width: 80px;height: 80px;padding: 2px;border: 2px solid lightgray;border-radius: 3px;float: left;} 
.gallery_list_data .size{font-size:12px;}
.gallery_list_data{height: 450px;overflow-x: auto;overflow-y: scroll;}
.gallery_list_data ul{list-style-type:none;padding:0px;float:left;width:100%;margin-bottom:0px;}
.gallery_list_data ul li{float:left;width:11.5%;padding: 2px;border: 1px solid #ccc;margin-bottom:10px;margin-right: 1%;position: relative;} 
.gallery_list_data ul li:nth-child(8n){margin-right:0px;}
.gallery_list_data ul li:nth-child(8n+1){clear:both;}
.gallery_list_data ul li a.removeimage{position: absolute;top: 2px;right: 2px;display: block;}
.gallery_list_data ul li a.removeimage i{font-size: 12px;line-height: 16px;color: #fff;background: #0080ec;border-radius: 50%;padding: 6px 7px;} 
.custom_tab_content .custom_pack_m{margin-top:10px;position:relative;display: table;}
.custom_tab_content .custom_pack_m img{background: #fff;border: 1px solid #ccc;padding: 6px 6px 8px;}
.custom_tab_content .custom_pack_m a.removepackimage{position: absolute;top: 2px;right: 2px;display: block;}
.custom_tab_content .custom_pack_m a.removepackimage i, .package_image_m a.removepackimage{font-size: 12px;line-height: 16px;color: #fff;background: #0080ec;border-radius: 50%;padding: 4px 5px;} 
.package_image_m{width: 140px;position:relative;margin-top: 3px;}
.package_image_m a.removepackimage{position: absolute;top: 2px;right: 2px;display: block;}
.package_image_m img{background: #fff;border: 1px solid #ccc;width: 100%;padding: 1px;}
.banner_image_m img{}
#loader{display:none;}
#loader .overlay{z-index: 99999;background: rgba(255,255,255,0.7);border-radius: 3px;}
#loader .overlay>.fa{ position: absolute;top: 50%;left: 50%;margin-left: -15px;margin-top: -15px;color: #000;font-size: 30px;}
.wrapper .overlay{ position: absolute;top: 0;left: 0;width: 100%;height: 100%;} 
.custom-error{color:#ff0000;font-size: 13px;}
.nav-treeview li.active a{color:#fff!important;}


.card-primary:not(.card-outline)>.card-header{background-color: transparent;color: #000;}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary{background: #0080ec;}
.btn-primary{background: #008000;border-color:#008000;font-size: 14px;padding: 6px 13px;} 
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:hover{background:#0080ec;border-color:#0080ec;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color: #0080ec;border-color: #0080ec;}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover{background-color: #0080ec;}
.select2-container--default.select2-container--focus .select2-selection--multiple {border-color: #4e8fd0;}
a:hover, a, .breadcrumb  li a{color: #0080ec;}
.layout-fixed .brand-link{background: #fff;text-align: center;padding: 10px; }   
.layout-fixed .brand-link .brand-image{width: 42%;margin:0px;float:none;}
.card .card-header .card-title{color: #168bee;font-weight:500;font-size: 30px;line-height:34px;}  
label:not(.form-check-label):not(.custom-file-label){font-weight: 500;font-size: 14px;} 
.card .card-body .form-group input, .card .card-body .form-group select{height: 34px;}
.card .card-body .form-group input, .card .card-body .form-group select, .card .card-body .form-group textarea{font-size:14px;line-height:21px;}
.card .card-body .form-group{margin-bottom:10px;}
.dropdown-menu.open.show{display:block!important;} 
.country_field .niceCountryInputSelector{width: calc(100% - 15px);position: absolute;z-index: 999;background: #fff;}
.country_field .niceCountryInputMenu{border: 1px solid #ced4da;width:100%;border-radius: 4px;padding: 2px 5px;}  
.country_field .niceCountryInputMenuDefaultText{font-size: 14px;line-height: 21px;color: #495057;}
.card .card-body table.table tr th{font-size:15px;}	
.card .card-body table.table tr td{font-size:14px;padding:5px;}	
.card .card-body table.table .bootstrap-switch .bootstrap-switch-handle-off, .card .card-body table.table .bootstrap-switch .bootstrap-switch-handle-on, .card .card-body table.table .bootstrap-switch .bootstrap-switch-label{font-size: 12px;padding: 2px 3px;}
.priority_style{color:#fff;border-radius:4px;padding:5px;}
.priority_low{background-color:#fdc001;}
.priority_high{background-color:#e23245;}
.priority_green{background-color:#41bf39;}
.priority_medium{background-color:#ffa500;}  
.priority_urgent{background-color:#800020;}
.followup_calendar>span{background: #198def;color: #fff;border-radius: 4px;padding: 6px 5px;font-size: 14px;line-height:18px;}
.followup_calendar span span.date_span{font-size:21px;line-height: 24px;}   
.action_dropdown{padding: 0px;text-align: center;font-size: 18px;color: #0080ec;}
.action_dropdown .dropdown-menu{padding:5px 0px;}
.action_dropdown .dropdown-menu a{display:block;color: #000;font-size:14px;line-height:21px;padding: 3px 10px;border-top:1px solid #ccc;}
.action_dropdown .dropdown-menu a:first-child{border-top:0px;}
.action_dropdown .dropdown-menu a:hover{background:#0080ec;color:#fff;}
.action_dropdown a.dropdown-toggle{padding: 0px;}
.card .card-body table.table tbody.tdata a.cus_tooltip{color:#0080ec;}
.user_info .image{width:40px;display: inline-block;margin-right: 10px;}
.user_info .image img{width:100%;}
.user_info .user_name{display:block;color:#0080ec;}
.user_info .user_email{display:block;color:#000;font-size:15px;}
.user_info .item_link .dropdown-item{display: inline-block;font-size:16px;line-height:24px;padding:0px;color:#0080ec;width:auto;}
.user_info .side_drop_menu .item_link{padding:5px 0px;}	
.user_info .item_link .dropdown-item, .user_info .item_link .dropdown-item:hover, .user_info .item_link .dropdown-item:focus{background:transparent;}
.user_info .item_link .dropdown-item:first-child{margin-right:10px;}
.user_info .item_link .dropdown-item.item_logout{color:#ff0000;} 
nav.main-header ul.navbar-nav li.nav-item a.refer_friend_btn, nav.main-header ul.navbar-nav li.nav-item a.write_feedback_btn{margin-top: 5px;}
nav.main-header ul.navbar-nav li.nav-item a.write_feedback_btn{margin-left:5px;}
.side_drop_menu{text-align:center;padding:10px 10px 15px;border:0px;max-width: 370px;min-width: 350px;}
.side_drop_menu .image{width:120px;margin: 10px auto;display: block;}  
.side_drop_menu .image img{width:100%;}
#leadsearch_modal .modal-header, #contactsupport_modal .modal-header{background: #0080ec;color: #fff;text-align: center;display: block;position: relative;padding: 10px;}
#leadsearch_modal .modal-header button.close, #contactsupport_modal .modal-header button.close{position: absolute;top: 0px;right: 0px;background: #fff;opacity: 1;border-radius: 50%;padding: 2px 8px;margin:0px;}
.main-header .navbar-nav .nav-item.quick_link{position:relative;margin:0px 5px;} 
.navbar-nav .quick_link .nav-link{background: #0080ec;border-radius: 4px;padding: 5px 10px;color: #fff; font-size: 14px;line-height: 21px;display: block;height: auto;margin-top: 5px;} 
.navbar-nav .quick_link .nav-link:hover, .navbar-nav .quick_link .nav-link:focus, .navbar-nav .quick_link.show .nav-link{color: #fff;}
.navbar-nav .quick_link .dropdown-item{font-size: 14px;line-height: 21px;padding: 5px 10px;}
.navbar-nav .quick_link .dropdown-item:hover{background:#0080ec;color: #fff;}
.customer_support{position:fixed;right:5px;bottom:10px;z-index:9999;}
.card .card-body table.table tbody.tdata tr td span.rating_star i{color:#caca09;}
.dataTables_wrapper .dataTables_length{display: inline-block;margin-right: 10px;float: left;margin-top: 5px;}
.dash_box a, .dash_box a span{color:#000;}
.mail_icon ul{padding:0px;list-style-type:none;}
.mail_icon ul li{display:inline-block;margin-right:2px;}
.mail_icon ul li:last-child{margin-right:0px;}
.cus_lead_txt span{background:#fff;border:1px solid #ccc;padding:2px 10px;float:right;font-size: 15px;line-height:21px;}
.people_travel .inner_value{width:32%;float:left;margin-right:2%;} 
.people_travel .inner_value.baby_value{margin-right:0px;}
.people_travel .inner_value input{width: calc(100% - 16px);display: inline-block;padding: 5px 6px;font-size: 15px;line-height: 21px;height: auto;margin-left: 4px;}
.people_travel .inner_value.adult_value input{width: calc(100% - 10px);}
.followup_btn{margin-bottom:40px;}
.followup_btn ul.navbar-nav{display:block;}
.followup_btn ul.navbar-nav li{margin-right:20px;position:relative;}
.followup_btn ul.navbar-nav li:last-child{margin-right:0px;}
.followup_btn ul.navbar-nav li>a, .followup_btn ul.navbar-nav li>button{border-radius:4px;padding: 7px 10px;font-size: 14px;line-height:18px;color: #fff;border:0px;} 
.followup_btn ul.navbar-nav li .dropdown-menu.show{transform:initial!important;top:35px!important;} 
.followup_btn ul.navbar-nav li.update_stage>a{background:#f59a0e;} 
.followup_btn ul.navbar-nav li.add_note>button, .followup_btn ul.navbar-nav li.add_note>button:focus{background:#de4b3b;} 
.followup_btn ul.navbar-nav li.mail_compose>a{background:#dd4c3b;}
.followup_btn ul.navbar-nav .dropdown-item{font-size: 14px;line-height: 21px;padding: 5px 10px;}
.followup_btn ul.navbar-nav .dropdown-item:hover{background:#0080ec;color: #fff;}
.timeline>div>.timeline-item>.name {color: #999;float: right;font-size: 12px;padding: 10px;position:relative;}
.timeline>div>.timeline-item>.name:after{content:"";border-right:1px solid #ccc;position: absolute;right: 0px;
width: 1px;height: 12px;margin-top: 2px;} 
#timeline .timeline i.bg-warning{color:#fff!important;}
.history_timeline ul.nav{border-bottom: 1px solid #ccc;}
.history_timeline ul.nav li{border: 1px solid #ccc;border-bottom: 0px;background: #fff;margin-bottom: -1px;}
.history_timeline ul.nav li a{border-radius:0px;}
.history_timeline ul.nav li:hover a{background:#0080ec;color:#fff;} 
.history_timeline ul.nav.nav-pills  li a.nav-link:hover{color:#fff;}
.history_timeline .tab-content{margin-top:20px;} 
.card-danger.card-outline{border-top: 3px solid #4b4b4b;}
.referral-social .btn-social{padding: 7px 15px;margin-right: 20px;font-size: 13px;line-height:18px;color: #797979;text-align: center;border-radius: 50px;border:1px solid #ddd;}  
.referral-social .btn-social:hover{background-color: #f8f8f8;border-color: #c6c6c6;}
.referral-social .btn-social i{font-size:21px;margin-right: 2px;}
.referral-social .btn-social i.fb_icon{color:#3b5998;}
.referral-social .btn-social i.tw_icon{color:#55acee;}
.referral-social .btn-social i.gplus_icon{color:#d6492b;}
.referral-social .at-share-btn-elements a{margin:0px 5px 5px 0px;}  
.referral-social .or-divider{margin: 20px 0;color: #777;text-align:center;border-bottom: 1px solid #e9e9e9;}
.referral-social .or-divider>span{padding: 10px;background-color: #fff;position: relative;top: 10px;}
.country_input button{font-size: 14px;line-height: 21px;background-color: #fff;border: 1px solid #ced4da;
border-radius: .25rem;box-shadow: inset 0 0 0 transparent;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;padding:10px;width:100%;text-align:left;color: #495057;}  
.country_input button:hover, .country_input button:focus{border: 1px solid #ced4da;background-color: #fff;}
.country_input button>span{width: calc(100% - 8px);display: inline-block;}
.country_input button span.caret{float: right;}
.country_input ul.dropdown-menu li a{padding:0px 10px;display:block;}
.country_input ul.dropdown-menu li a:hover{cursor:pointer;} 
.referal_card .card-header, .referal_card .card-body{padding:15px 10px;}

.bg-blue {background-color: #0073b7 !important;}
.bg-aqua {background-color: #00c0ef !important;}
.bg-yellow {background-color: #f39c12 !important;}
.bg-purple {background-color: #605ca8 !important;}
.bg-maroon {background-color: #D81B60 !important;}
.popover{max-width: 700px;} 
.popover.bottom{margin-top: 10px;}
.popover-content {padding: 9px 14px;} 
.no-padding {padding: 0!important;}
.popover.bs-popover-top{min-width: 480px;} 
.bs-popover-auto[x-placement^=top]>.arrow, .bs-popover-top>.arrow{top: calc((.5rem + 1px) * -1);bottom:auto;}
.bs-popover-auto[x-placement^=top]>.arrow::before, .bs-popover-top>.arrow::before{top: 0;bottom:auto;    border-bottom-color: rgba(0,0,0,.25);border-top-color: transparent;}
.bs-popover-auto[x-placement^=top]>.arrow::after, .bs-popover-top>.arrow::after{top: 1px;bottom:auto;border-bottom-color: #fff;border-top-color: transparent;}

@media(min-width:992px){
	#contactsupport_modal .modal-lg{max-width: 680px;}   
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled]{background:#0080ec!important;}
.popover #timegroup a{color:#0080ec;font-size:14px;} 
.popover .box-footer button#setreminder{font-size:14px;} 
.popover #popover-content input, .popover #popover-content select{font-size: 14px;line-height: 21px;}
.popover #popover-content select.selec_reg{background:transparent;border: 1px solid #ced4da;} 
.invoice_table table tr td.check_td{width:20px;padding-left:5px!important;} 
.invoice_table table tr td.list_td{padding-right:5px!important;} 
.invoice_table table tr td .list_secondary .number{padding-right:5px;color:#0080ec;} 
.invoice_table table tr td .list_secondary .number, .invoice_table table tr td .list_secondary .text-muted{display:inline-block;}
.separationline{border-left: 1px solid #e0e0e0;padding-left: 8px;}
[class*=icheck-]>input:first-child+input[type=hidden]+label::before, [class*=icheck-]>input:first-child+label::before{width: 18px;height: 18px;}
[class*=icheck-]>input:first-child+input[type=hidden]+label::before, [class*=icheck-]>input:first-child+label::before{margin-left: -28px;}
[class*=icheck-]>input:first-child:checked+input[type=hidden]+label::after, [class*=icheck-]>input:first-child:checked+label::after{transform: translate(6.75px,2.5px) rotate(45deg);}
.text-accepted {color: #029745;}
.text-rejected {color: #ff0000;}
.text-overdue {color: #ff660f;}
.text-sent {color: #268ddd;}
.text-uppercase{text-transform:uppercase;} 
.invoice_table table tr td .list_secondary span i{color:#000;}
.new_invoice ul{padding-left:0px;}
.new_invoice ul li, .more_btn_group{position:relative;}
.new_invoice ul li a i{font-weight:normal;font-size: 12px;opacity: 0.6;}
.more_btn_group{display:inline-block;}
.attach_comment ul{list-style-type:none;padding:0px;margin:5px 0px 0px;}
.attach_comment ul li{display:inline-block;border-left: 1px solid #e0e0e0;padding: 0px 8px;} 
.attach_comment ul li:first-child{border-left: 0px;} 
.attach_comment ul li:last-child{padding-right: 0px;}   
.attach_comment ul li a{font-size:14px;line-height:16px;color: #343a40;} 
.attach_comment ul li a:hover{color: #0080ec;} 
.attach_comment ul li a i{padding-right:3px;}
.cus_accordian .card-header h4.card-title{font-size:16px;line-height:24px;color:#343a40;display: block;float: none;}
.cus_accordian .card-header h4.card-title a{color:#343a40;display: block;}
.cus_accordian .card-header h4.card-title a span{background:#f4f6f9;color:#0080ec;font-size:12px;line-height:16px;border-radius:50%;display: inline-block;padding: 2px 7px;margin-left: 5px;}
.cus_accordian .card-header h4.card-title a.collapsed:after{content:"\f0da";}
.cus_accordian .card-header h4.card-title a:after{content:"\f0d7";position:absolute;top:16px;right:10px;font:  normal 16px FontAwesome;} 
.cus_accordian .panel-collapse table.table thead tr th, .cus_accordian .panel-collapse table.table tbody tr td{font-size:14px;line-height:18px;font-weight:500;}
.invoice_template .inv-template{padding:50px;}
.invoice_template .inv-template .inv-entity-title{font-size: 28px;color: #000;line-height:32px;}
.invoice_template table.inv-itemtable tr th, .invoice_template table.inv-itemtable tr td{padding:5px;}
table.invoice-detailstable tr th, table.invoice-detailstable tr td{padding:2px 5px;}
table.invoice-detailstable tr td, .invoice_template table.inv-itemtable tr td{font-size: 14px;line-height: 16px;}  
.invoice_template .inv-template-bodysection{border: 1px solid #9e9e9e;}  
.invoice_template{position:relative;}
.invoice_template #invoice_ribbben{position: absolute!important;top: -5px;left: -5px;overflow: hidden;width: 96px;height: 94px;}      
.invoice_template .ribbon .ribbon-inner{text-align: center;color: #fff;top: 24px;left: -31px;width: 135px;padding: 3px;position: relative;transform: rotate(-45deg);}
.invoice_template .ribbon .ribbon-success{background-color: #1fcd6d;border-color: #18a155;}
.invoice_template .ribbon .ribbon-danger{background-color: #f59d00;border-color: #f59d00;}
.invoice_template .ribbon .ribbon-open{background-color: #2485e8;border-color: #2485e8;}
.invoice_template .ribbon .ribbon-inner:after, .invoice_template .ribbon .ribbon-inner:before{content: "";
border-top: 5px solid transparent;border-left: 5px solid;border-left-color: inherit;border-right: 5px solid transparent;border-bottom: 5px solid;border-bottom-color: inherit;position: absolute;top: 22px;transform: rotate(-45deg);}   
.invoice_template .ribbon .ribbon-inner:before{left: 0;border-left: 2px solid transparent;}
.invoice_template .ribbon .ribbon-inner:after{right: -4px;border-bottom: 3px solid transparent;}
.card .card-body .invoice_item_table table tr td .form-group{margin-bottom:0px;}
.card .card-body .invoice_item_table table thead tr th{background: #fbfbfb;font-size: 14px;padding:8px 10px;}  
.card .card-body .invoice_item_table table tbody tr td{padding: 0px;}  
.card .card-body .invoice_item_table table tbody tr td input, .card .card-body .invoice_item_table table tbody tr td textarea, .card .card-body .invoice_item_table table tbody tr td select{height:35px;border:0px;border-radius:0px;}  
.card .card-body .invoice_item_table{width: calc(100% - 35px);overflow: inherit;}
.card .card-body .invoice_item_table table tbody tr td textarea{resize:inherit;} 
.invoice_item_table table tbody tr .last_item_col{position:relative;}
.invoice_item_table table tbody tr .last_item_col .item_action{position:absolute;top:6px;right:-35px;}
.invoice_item_table table tbody tr .last_item_col .item_action a.item_remove{color:#ff0000;border:1px solid #ff0000;border-radius:50%;padding: 1px 3px;}
.invoice_item_table table tbody tr .last_item_col .item_action a i{font-size:12px;}
.sub_total{background: #fbfafa;padding:10px;border-radius:7px;}
.discount_field{border: 1px solid #ced4da;}
.discount_field input{width: calc(100% - 45px);border: 0px;display: inline-block;margin: 0px;padding: 3px 8px;text-align: right;}
.discount_field button{display: inline-block;border: 0px;padding: 5px 5px;border-radius: 0px;vertical-align: top;}
.total_amount label:not(.form-check-label):not(.custom-file-label), .total_amount span{font-size:18px;line-height:24px;color:#000;font-weight: 600;}
.upload_invoice .upload_btn{position: relative;width: 40px;height: 35px;border: 1px dashed #ddd;padding: 5px 5px;overflow: hidden;text-align: center;display: inline-block;vertical-align: top;float:left;}
.term_condition_sec{background:#fbfafa;padding: 20px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;margin-top:20px;margin-bottom:30px;}  
.upload_invoice label{display:block;}
.upload_invoice .upload_btn input{position: absolute;top: 0px;left: 0px;width: auto;opacity: 0;}
.upload_invoice .upload_btn i{color: #000;font-size: 15px;}
.upload_invoice button.dropdown-toggle{border: 1px dashed #ddd;float:left;font-size:14px;}
.upload_invoice button.dropdown-toggle:hover, .upload_invoice .upload_btn:hover{border-color: #0080ec;cursor:pointer;}
.upload_invoice span.file_note{display:block;clear:both;font-size:12px;color:#777;padding-top:5px;}
.invoice_save_btn a.dropdown-toggle:after{border-bottom:.3em solid;border-top: 0;color:#fff;}
.invoice_save_btn button, .invoice_save_btn a.dropdown-toggle{float:left;border-radius:4px;} 
.invoice_save_btn button{border-top-right-radius:0px;border-bottom-right-radius:0px;}
.invoice_save_btn a.dropdown-toggle{border-top-left-radius:0px;border-bottom-left-radius:0px;border-left: 1px solid #fff;}    
.invoice_save_btn .cancel_btn{margin-left:10px;}
.invoice_list.card>.card-header .card-title{font-size:24px;line-height:28px;color:#343a40;} 
.custom_card_header{border-bottom: 1px solid #eee;background-color: #f7f7f7;}
.custom_card_header .cus_btn{padding:12px;border:0px;border-right: 1px solid #eee;}
.custom_card_header .cus_btn:hover{color:#0080ec;}
.profile_img_field label{display:block;}
.profile_img_field .profile_input{position: absolute;top: 0px;left: 0px;z-index: 1;width: 100%;height: 100%;}
.profile_img_field .show-uploded-img{margin-top:0px;}
.card .card-body .profile_img_field .profile_input input{width: 100%;height: 100%;opacity: 0;position: absolute;top: 0px;left: 0px;z-index: 1;}
.card .card-body .profile_img_field .profile_input:hover{cursor:pointer;}
.profile_img_field .profile_input .capture_icon{background: rgba(0, 0, 0, 0.7);width: 100%;height: 100%;
position: absolute;top: 0px;left: 0px;display:none;}
.profile_img_field .profile_input:hover .capture_icon{display:block;}
.profile_img_field .profile_input .capture_icon i{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color:#fff;font-size:21px;line-height:24px;}
.multi_factor .card-header h3.card-title, .sessions .card-header h3.card-title{float:none;} 
.multi_factor .factor_label{position: absolute;top: 20px;right: 20px;}
.mobile_based_otp{background: #F8FFFD;border: 2px solid #10BC83;padding: 20px 0px;border-radius: 7px;}
.mobile_based_otp .mobile_field{display: block;padding:20px;}
.mobile_based_otp .mobile_field .mobile_icon{display: inline-block;height: 50px;width: 50px;border-radius: 50%;
background-color: #ff8b00;color: #fff;box-sizing: border-box;text-align: center;margin-right: 10px;padding: 15px;font-size: 18px;line-height: 21px;}
.mobile_based_otp .mobile_field .mobile_info{display: inline-block;min-width: 240px;height: auto;padding: 5px 0px;}
.mobile_based_otp h4{padding-left:20px;}
.mobile_based_otp .mobile_field:hover{background-color: #EDF5F3;}
.mobile_based_otp .mobile_field .mobile_info .mobile_text{display: block;font-size: 16px;line-height: 20px;}
.mobile_based_otp .mobile_field .mobile_info .mob_time{display: block;font-size: 12px;line-height: 16px;
color: #525252;margin-top: 4px;}
.mobile_based_otp .mobile_field .mobile_info .mob_indicator .pri_indicator{font-size: 9px;line-height: 12px;padding: 3px 10px;display: table;border-radius: 10px;font-weight: 600;letter-spacing: .5px;text-transform: uppercase;background-color: #D3F3E8;color: #08895E;}    
.mobile_based_otp .add_view_btn{padding:0px 20px;margin-top:10px;}  
.mobile_based_otp .add_view_btn a{display:inline-block;width:49%;text-align: center;}


.session_body{padding:0px;}
#view_all_sessions #current_sesion .Field_session{padding-left: 55px;}
.deleted_selected{margin-right:20px;}
.Field_session{cursor: pointer;box-sizing: border-box;width: 100%;display: block;overflow: hidden;padding: 15px 20px;padding-left: 30px;position: relative;height: 80px;margin-top: 2px;}
.Field_session:hover {background-color: #f8f8f8;}
.auth_dp{font-size: 16px;padding: 15px 10px;line-height: 20px;text-align: center;}
.autoheight{height:auto !important;}
/*-------------- OLD -----------------*/
/* .activesessions {background: url(../img/Active%20Sessions.png) no-repeat transparent;background-size: 90%;}
.activeauthtokens {background: url(../img/Active_authtoken.png) no-repeat transparent;background-size: 90%;}
.activityhistory {background: url(../img/Active%20History.png) no-repeat transparent;background-size: 90%;} */
#apitoken_popup_info button,.web_email_specific_popup button{display:block;} 
.activesession_entry, .activeauthtoken_entry, .history_entry, .authweb_entry, .allowed_ip_entry, .devicelogins_entry {cursor: pointer;padding: 15px 20px;position: relative;display: block;border-radius: 4px;
overflow: hidden;height:50px;}
.devicelogins_entry .aw_info{margin-left:29px;}
.allowed_ip_entry, .devicelogins_entry {padding-left: 30px;}
.activesession_entry:hover, .activeauthtoken_entry:hover, .history_entry:hover, .authweb_entry:hover, .allowed_ip_entry:hover, .always_hover, .devicelogins_entry:hover{background-color: #f8f8f8;}
.devicelogins_devicedetails{display: block;padding: 15px 30px;height: 80px;box-sizing: border-box;overflow:hidden;position:relative;}
#Device_logins_current_info , #App_logins_current_info{padding-bottom:20px;max-height: 320px;overflow: auto;}
.devicelogins_devicedetails .deleteicon{position:absolute;right:15px;}
.device_div, .authtoken_div, .history_div, .allowed-ip_div{width: 30%;height: auto;display: inline-block;float: left;min-width: 250px;max-width: 400px;}
.devicelogin_div{width: 30%;height: auto;display: inline-block;float: left;min-width: 250px;max-width: 400px;}
.authtoken_div {width: 40%;min-width: 300px;max-width: 450px;}
.device_pic, .authtoken_pic, #device_pic ,#product_img{height: 50px;width: 50px;display: inline-block;float: left;margin-right: 10px;color: #fff;font-size: 16px;box-sizing: border-box;line-height: 50px;text-align: center;border-radius: 50%;}
.mail_client_logo, #platform_img{height: 50px;width: 50px;display: inline-block;float: left;margin-right: 10px;
color: #fff;font-size: 16px;box-sizing: border-box;text-align: center;border-radius: 50%;line-height: 20px;}
#device_pic{border-radius: 0%;}
#range_name{float:left;}
.device_macbook {background: url("../img/devices.png") no-repeat transparent;background-position: 0px 0px;
background-size: 100%;border-radius:0px;}
.device_macbook_20px {background: url("../img/devices.png") no-repeat transparent;background-position: 0px 0px;background-size: 100%;border-radius:0px;}
.device_personalcomputer {background: url("../img/devices.png") no-repeat transparent;background-position: 0px -50px;background-size: 100%;border-radius:0px;}
.device_personalcomputer_20px {background: url("../img/devices.png") no-repeat transparent;background-position: 0px -20px;background-size: 100%;border-radius:0px;}
.device_iphone {background: url("../img/devices.png") no-repeat transparent;background-position: 0px -150px;
background-size: 100%;border-radius:0px;}
.device_iphone_20px {background: url("../img/devices.png") no-repeat transparent;background-position: 0px -60px;background-size: 100%;border-radius:0px;}
.device_ipad {background: url("../img/devices.png") no-repeat transparent;background-position: 0px -390px;
background-size: 100%;border-radius:0px;}
.device_ipad_20px {background: url("../img/devices.png") no-repeat transparent;background-position: 0px -156px;background-size: 100%;border-radius:0px;}
.device_androidtablet{background: url("../img/devices.png") no-repeat transparent;background-position: 0px -330px;background-size: 100%;border-radius:0px;}
.device_androidmob ,.device_mobiledevice{background: url("../img/devices.png") no-repeat transparent;
background-position: 0px -270px;background-size: 100%;border-radius:0px;}
.device_androidmob_20px ,.device_mobiledevice_20px{background: url("../img/devices.png") no-repeat transparent;background-position: 0px -180px;background-size: 100%;border-radius:0px;}
.device_samsung {background: url("../img/devices.png") no-repeat transparent;background-position: 0px -270px;background-size: 100%;border-radius:0px;}
.device_samsung_20px{background: url("../img/devices.png") no-repeat transparent;background-position: 0px -108px;background-size: 100%;border-radius:0px;}
#delete_acc_info {overflow: scroll;height: 230px;}
.device_details, .authtoken_details{display: inline-block;padding: 5px 0px;float: left;width: calc(100% - 100px);}
.devicelogin_details , .device_platform_details{display: inline-block;padding: 6px 0px;width: calc(100% - 100px);}
.devicelogin_details{width: calc(100% - 60px);}
.device_platform_details{padding: 16px 0px;}
.device_name, .authtoken_name {display: block;font-size: 16px;white-space: nowrap;overflow: hidden;
text-overflow: ellipsis;line-height: 18px;}
.device_client_name{display: inline-block;}
.authtoken_time{display: block;font-size: 12px;color: #777;margin-top: 6px;}
.device_time,.device_model,.device_login_tim{display:inline-block;font-size: 12px;color: #777;margin-top: 5px;
}
.devicelogins_devicedetails .device_time:before {content: "";width: 4px;display: inline-block;height: 4px;
margin: 5px;float: left;border-radius: 50%;margin-left: 2px;background: #d4d4d4;}
.asession_os{height: 20px;width: 20px;margin: 15px;display: inline-block;float: left;}
.history_device{font-size: 30px;height: 20px;width: 20px;margin: 15px;display: inline-block;float: left;}
.history_mobile{background: url(../img/mobile.png) no-repeat transparent;background-size: 100%;}
.history_desktop{background: url(../img/desktop.png) no-repeat transparent;background-size: 100%;}
.os_osx,.minios_osx,.minios_ios,.os_ios{background: url(../img/sessionssprite.png) no-repeat transparent;
background-position: 0px -24px;background-size: 100%;}
.os_windows,.minios_windows {background: url(../img/sessionssprite.png) no-repeat transparent;background-position: 0px 0px;background-size: 100%;}
.os_android,.minios_android {background: url(../img/sessionssprite.png) no-repeat transparent;background-position: 0px -48px;background-size: 100%;}
.os_linux,.minios_linux {background: url(../img/sessionssprite.png) no-repeat transparent;
background-position: 0px -121px;background-size: 100%;}
.asession_browser {height: 20px;width: 20px;margin: 15px;display: inline-block;float: left;}
.browser_googlechrome,.minibrowser_googlechrome {background: url(../img/sessionssprite.png) no-repeat transparent;background-position: 0px -145px;background-size: 100%;}
.browser_safari,.minibrowser_safari {background: url(../img/sessionssprite.png) no-repeat transparent;
background-position: 0px -72px;background-size: 100%;}
.browser_ubundu,.minibrowser_ubundu {background: url(../img/sessionssprite.png) no-repeat transparent;
background-position: 0px -121px;background-size: 100%;}
.browser_firefox,.minibrowser_firefox {background: url(../img/sessionssprite.png) no-repeat transparent;
background-position: 0px -97px;background-size: 100%;}
.browser_internetexplorer,.minibrowser_internetexplorer {background: url(../img/sessionssprite.png) no-repeat transparent;background-position: 0px -169px;background-size: 100%;}
.browser_opera,.minibrowser_opera {background: url(../img/sessionssprite.png) no-repeat transparent;
background-position: 0px -193px;background-size: 100%;}
.browser_browserunknown,.minibrowser_browserunknown {background: url(../img/sessionssprite.png) no-repeat transparent;background-position: 0px -217px;background-size: 100%;}
.os_osunknown,.minios_osunknown {background: url(../img/sessionssprite.png) no-repeat transparent;
background-position: 0px -241px;background-size: 100%;}
.asession_location, .IP_tab_info, .asession_ip {display: inline-block;float: left;font-size: 14px;padding: 15px;max-width: 300px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height: 20px;}
.asession_location{display: inline-block;float: left;font-size: 14px;padding: 15px;max-width: 300px;line-height: 20px;}
.Field_session{font-family: 'Roboto', sans-serif;}
.asession_action {display: inline-block;float: right;font-size: 14px;padding: 15px;line-height: 20px;white-space: nowrap;}
.Field_session:hover .aw_remove, .Field_session:hover .session_logout, .Field_session:hover .authtoken_delete, .Field_session:hover .history_delete, .Field_session:hover .connected_app_delete{display: inline-block;}
.current {color: #14b236;}
.session_logout, .authtoken_delete, .history_delete, .ip_delete , .connected_app_delete{color: #db5648;display: none;}
.activesession_entry:hover  .session_logout {display: inline-block;}
.activeauthtoken_entry:hover  .authtoken_delete {display: inline-block;}
.history_entry:hover .history_delete {display: inline-block;}
.allowed_ip_entry:hover .ip_delete {display: inline-block;}
.allowed_ip_entry:hover .ip_pencil {display: inline-block;}
.on_popup {display: block;height: auto;width: 100%;max-width: none;}
#Device_logins_pop , #App_logins_pop{padding:0;width: 800px;}
#Device_logins_pop .on_popup , #App_logins_pop .on_popup{box-sizing:border-box;padding:20px 30px;background-color:#f5f5f5;margin-bottom:0px;}
.asession_browser_popup, .asession_os_popup, .asession_device_popup {height: 20px;width: 20px;float: left;
margin: 1px 5px;}
#activeauthtoken_pop{height: 350px;} 
#activesessions_pop{display: none;}
.hide {display: none;}
.aw_info, .aw_info_rename{display: none;height: auto;margin-top: 10px;margin-left: 60px;margin-bottom: 10px;}
.view_btn{text-align:center;margin-bottom:20px;margin-top:10px;}
.view_btn.show{display: none;}
.view_all{display: none;} 
.view_all.show{display: block;} 
.aw_info .list_show{clear:both;}
.info_div{display: block;padding-top: 20px;}
.saml_div_aligner{display: flex;flex-wrap: wrap;}
.saml_div_aligner .info_div{width: 49%;min-width: 300px;padding-right: 20px;box-sizing: border-box;}
.info_lable{font-size: 12px;margin-bottom: 5px;color: #777;}
.info_value{font-size: 14px;color: #000;line-height: 22px;}
.viewmore{display: block;width: 100px;color: #4EC5FF;font-size: 14px;text-align: center;cursor: pointer;padding: 5px 20px;margin: auto;}
.viewmore_addemail{display: block;width: 100%;margin: auto;}
.email_addmore {display: inline-block;width: 48%;}
.email_viewmore {display: inline-block;width: 48%;}
.movetotop {z-index: 100;height: 600px;}
.expand_closebtn {display: block;float: right;height: 40px;width: 40px;border-radius: 50%;cursor: pointer;
margin: 6px;position: absolute;right: 10px;top: 10px;}
.primary_btn_check{background-color: #10bc83;font-size: 14px;color: #fff;cursor: pointer;display: inline-block;font-size: 14px;font-weight: 400;line-height: 40px;position: relative;text-align: center;border-radius: 2px;
padding: 0px 40px;overflow: hidden;margin-left: 0px;margin-bottom: 0px;margin-right: 20px;width: fit-content;
width: -moz-fit-content;width: -webkit-fit-content;outline: none;border: none;text-decoration: none;margin-top: 20px;}
.negative_btn_red {background-color: #d05151;color: #fff;}
.inline_action .primary_btn_check, .popup .primary_btn_check{margin-top: 20px;}

.addresslist>span{color:#777;font-size:18px;line-height:21px;display:block;text-transform:uppercase;font-weight: 500;    margin-bottom: 10px;}
.addresslist>span a{font-size:14px;line-height:18px;display:block;}
.addresslist address{font-size: 16px;line-height: 23px;color:#777;}
.is_selected_invoice{display:none;}